.navbar {
    border-bottom: 1px solid grey;
}

.navbar-brand img {
    width: 50px;
}

.card a img {
    aspect-ratio: 4/3;
}
iframe {
    aspect-ratio: auto 960 / 540;
}
.profile {
    aspect-ratio: 1/1;
}
body {
    background-color: #5f2f45;
}
.card {
    background-color: #5f2f45;
    border-color: #fabb64;
    color: #f5ddbc;
}
.card a {
    color: #f5ddbc;
    text-decoration: none;
}
.card a:hover {
    color: #fabb64;
    text-decoration: none;
}
h2, h1{
    color: #f5ddbc;
}