.navbar {
    border-bottom: 1px solid grey;
}

.navbar-brand img {
    width: 50px;
}

.card a img {
    aspect-ratio: 4/3;
}
iframe {
    aspect-ratio: auto 960 / 540;
}
.profile {
    aspect-ratio: 1/1;
}
